<a href="https://colab.research.google.com/github/edu123silva/robert_system/blob/main/robert_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# CREATING THE TABLE
import sqlite3

conn = sqlite3.connect('test.db')
print("Conexão aberta!");

conn.execute('''
CREATE TABLE IF NOT EXISTS Usuario (
	id integer PRIMARY KEY AUTOINCREMENT,
	nome string, 
  CPF integer
);
 ''')

conn.commit()

print("Tabela criada com sucesso!");

Conexão aberta!
Tabela criada com sucesso!

In [2]:
# INSERTING VALUES

conn.execute("INSERT INTO Usuario VALUES(1, 'Eduardo Silva', 000);")
conn.execute("INSERT INTO Usuario VALUES(2, 'Bruno Henrique', 111);")
conn.execute("INSERT INTO Usuario VALUES(3, 'Roberto Silva', 222);")
conn.execute("INSERT INTO Usuario VALUES(4, 'Janier Freitas', 333);")

conn.commit()

In [ ]:
cursor = conn.execute(''' 
  SELECT nome, CPF                                   
  FROM Usuario; 
  ''')

for row in cursor:
  print(row)

('Eduardo Silva', 0)
('Bruno Henrique', 111)
('Roberto Silva', 222)
('Janier Freitas', 333)

In [3]:
import pandas as pd

qry = """
  SELECT * FROM Usuario
"""
df = pd.read_sql_query(qry, conn)
df.head()

   id            nome  CPF
0   1   Eduardo Silva    0
1   2  Bruno Henrique  111
2   3   Roberto Silva  222
3   4  Janier Freitas  333